# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [31]:
# Method 1 
nums.pop(3)
nums

[1, 2, 4]

In [14]:
# Method 2
nums.remove(3)
nums

[1, 2, 4]

In [16]:
# Method 3
del nums[2]
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [35]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [37]:
lst=[1,2,3,4]
lst.inser(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

*convert into list*

In [41]:
phrase="Don't panic!"
list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [43]:
list=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
list.remove("''")
list.remove('!')
list

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [44]:
# CODE HERE

In [45]:
l=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
l.remove("p")
l.remove("a")
l.remove("n")
l.remove("D")
l.extend("p")
l.extend("a")
l.extend("n")
l.extend("D")

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [21]:
list=['p','a','n','D','a']
''.join(list)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [11]:
nums=(31,24,35,85)
print("data type",type(nums),nums)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

In [12]:
t=(31,24,35,85)
t=list(t)
t
t.remove(35)
t
a=tuple(t)
a

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [15]:
a=(31,24,85)
a=list(a)
a
a.append(85)
a.append(19)
a
a=tuple(a)
a

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [20]:
# CODE HERE
t1=('i','n','n','O')

In [22]:
t1

('i', 'n', 'n', 'O')

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [4]:
# CODE HERE
l1=['hello','100','innomatics']

In [5]:
l1

['hello', '100', 'innomatics']

In [6]:
l1=['hello','100',[],'inommatis']

In [7]:
l1

['hello', '100', [], 'inommatis']

In [8]:
l1=['hello','100',[200],'innomatics']

In [2]:
l1

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [2]:
# CODE HERE
tpl = ("Innomatics")

In [5]:
tpl = ('s','c','i','t','a','m','o','n','n','I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [1]:
tpl = (1,2,3)+(4,1)
tpl

(1, 2, 3, 4, 1)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [5]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [10]:
tpl = [(10,20,40,),(40,50,60),(70,80,90)]
tpl1=[]
for i in  tpl:
    a=list(i)
    a.append(100)
    t=tuple(a)
    tpl1.append(t)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [11]:
tpl = [(10,20,40,),(40,50,60),(70,80,90)]
tpl1=[]
for i in  tpl:
    a=list(i)
    a.pop()
    a.append(100)
    t=tuple(a)
    tpl1.append(t)
tpl1

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [4]:
a='523665'
l=list(a)
s=set(l)
s
li=list(s)
li.sort()
li[-2]

'5'

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [5]:
l=[12,23,35,70,88,120,155]
l.remove(12)
l.remove(88)
l.remove(120)
l

[23, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [13]:
t=(1,2,3,4,5,6,7,8,9,10)
l1=[]
l2=[]
for i in t:
    if i<=5:
        l1.append(i)
    elif i>=5:
         l2.append(i)
print(tuple(l1),tuple(l2))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [2]:
l=(1,2,3,4,5,6,7,8,9,10)
a=[]
for i in l:
    if i%2==0:
        a.append(i)
print(a)

[2, 4, 6, 8, 10]

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution The difference between list and tuples are;
*A list is mutable it is used for collection of data that doesnt need to random access
*A list is used when data can be modifieed frequently
*A list is homogenous it are enclosed in brackets[]
example:
    list=[10,20,30]
*A tuple is immutable ,tuple can be when data cannot be changed.
*A tuple is used in combination with a dictionary i.e.a tuple might represnt a key
*A tuple is hetrogenous tuples are enclosed with parenthseis{}
example:
    tuple={"eggs"}

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution:append()adds a single element to the end of the list
extend()can add mutiple element to the end of the list

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution:The pop()method uses the index of an element to delet it
The remove()method takes the value of the element as an input argument to delet the element.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)